@use 'components.scss';

/* Link style */
.router-link-active,
.router-link-exact-active,
a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}